startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=0

common --java_runtime_version=remotejdk_25
common --java_language_version=21
common --tool_java_runtime_version=remotejdk_25
common --tool_java_language_version=21

common:jre8 --java_runtime_version=remotejdk_8
common:jre17 --java_runtime_version=remotejdk_17
common:jre21 --java_runtime_version=remotejdk_21
common:jre25 --java_runtime_version=remotejdk_21

common:jre25 --jvmopt=--sun-misc-unsafe-memory-access=allow

build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17

build --worker_max_multiplex_instances=KotlinKsp=1

# Release builds
build:opt --copt -flto --copt -Os
build:opt --linkopt -flto
build:opt --strip=always
build:opt --compilation_mode=opt
build:opt --build_tag_filters=

# Debug
build:dbg --strip=never
build:dbg --compilation_mode=dbg

# Zig CC
build:linux --sandbox_add_mount_pair=/tmp
build:macos --sandbox_add_mount_pair=/var/tmp

# Android Rules
common --android_platforms=@//:android_arm32,@//:android_arm64,@//:android_x86,@//:android_x86_64

# C++17
common:linux --cxxopt=-std=c++17
common:linux --host_cxxopt=-std=c++17
common:macos --cxxopt=-std=c++17
common:macos --host_cxxopt=-std=c++17
common:windows --cxxopt=/std:c++17
common:windows --host_cxxopt=/std:c++17

common --enable_platform_specific_config
